name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install requirements and flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8
        continue-on-error: true

      - name: Run flake8
        run: flake8 app || true

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform Init & Validate
        run: |
          terraform init -backend=false
          terraform validate

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.0

      - name: Helm Lint
        run: helm lint ./helm

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: devops-challenge:ci

